/* font-family: 'Montserrat', sans-serif; */
/* style reset */
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

:root {
  /* colors */
  --background-color: #f2eae2;
  --card-background: #ffffff;
  --color-accent: #3d8168;
  --text-color: #6c7289;
  --title-color: #1c232b;
}

body {
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
}

.flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  background-color: var(--card-background);
  border-radius: 10px;
  width: 21.4rem;
}

.product-img {
  border-radius: 10px 10px 0 0;
  width: 21.4rem;
  height: 15rem;
}

.content {
  padding: 1.5rem;
}

.product-type {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.31rem;
  color: var(--text-color);
  margin-bottom: 0.75rem;
}

.product-name {
  font-size: 2rem;
  line-height: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 1rem;
}

.product-description {
  font-weight: 500;
  font-size: 0.87rem;
  color: var(--text-color);
  line-height: 1.44rem;
  margin-bottom: 1rem;
}

.pricing {
  display: flex;
  gap: 1.19rem;
  margin-bottom: 1.25rem;
  align-items: center;
}

.promotional-price {
  font-size: 2rem;
  font-family: "Fraunces", sans-serif;
  color: var(--color-accent);
}

.price {
  color: var(--text-color);
  text-decoration: line-through;
  font-size: 0.81rem;
}

.add-cart-button {
  background: var(--color-accent);
  color: var(--card-background);
  font-weight: 700;
  font-size: 0.87rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.73rem;
}

.add-cart-icon {
  width: 0.9rem;
  height: 1rem;
}

@media (min-width: 1440px) {
  article.product {
    display: flex;
  }

  .product-img {
    border-radius: 10px 0 0 10px;
    height: auto;
    box-sizing: border-box;
    background: url("images/image-product-desktop.jpg") no-repeat;
  }
}
